MONGODB_CONNECTION_STRING=mongodb+srv://USUARIO:SENHA@cluster0.xxxxx.mongodb.net/?appName=Cluster0
MONGODB_DATABASE_NAME=taskflow_db
MONGODB_TASKS_COLLECTION_NAME=tasks

VITE_API_BASE_URL=http://localhost:8080